.role-list-container {
  padding: 8px;
}

.role {
  padding-bottom: 8px;
  cursor: pointer;
}

.role > div {
  border: 2px solid black;
  border-radius: 1px;
  padding: 5px 0;
}

.role.city > div {
  border-color: #00A0E9;
}

.role.city > div:hover,
.role.city.selected > div {
  background-color: #00A0E9;
}

.role.mob > div {
  border-color: salmon;
}

.role.mob > div:hover,
.role.mob.selected > div {
  background-color: salmon;
}

.role.neutral > div {
  border-color: #ababab;
}

.role.neutral > div:hover,
.role.neutral.selected > div {
  background-color: #ababab;
}